
body{
    width: 80%;
    height: 70%;
    margin: auto;
    background-image: url("../img/cv\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 250%;
}
ul{
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containar{
    display: flex;
    justify-content: space-around;
}
.my_img{
    width: 450px;
    height: 450px;
    margin: auto;
}
h1{
    width: 70%;
    /* margin: auto; */
    color: #724d40;
    text-decoration: underline;
    font-size: 300%;
}
h2{
    color: #1f3b48;
    width: 100%;
    margin: auto;
}
li{
    color: #053b0b;
}
a{
    text-decoration: none;
    border: 2.5px #053b0b solid;
    border-radius: 40%;
}
hr{
    border: 10px #724d40 solid;
    border-radius: 50%;
}
p{
    color: #053b0b ;
}